.mw-spin2 {
  .columnContainer {
    .sectionhead_sleeve {
      @include margin-top();
    }
    .sectionhead_sleeve, .thumb {
      @include margin-bottom();
    }
    .list li {
      @include margin-bottom(.5);
    }
  }
}
