.mw-story-master {

  .byline {
    text-align: center;
    .author {
      text-decoration: underline;
    }
  }
  .story_title {
    @include padding-top(3);
    @include padding-bottom(3);
    margin: -20px -65px 0px -65px;
    @include margin-bottom(1);
    background:image-url("image.jpg");
    color: $white;
    position: relative;
    a {
      color: $white;
    }
  }
  .jumpSection, #commentAlert {
    display: none;
  }
  .mw-share {
    @extend .sprites-share;
    margin-right: 25px;
    margin-top: -70px;
  }
  .mw-share-items {
    position: absolute;
    right: 25px;
    top: 45px;
    > * {
      margin: 5px;
    }
  }
  .mw-top-margin {
    @include margin-top();
  }
  // Main content layout
  .maincontent_wrapper {
    .standfirst {
      font-size: $h2-size;
      color: $black;
      @include margin-bottom(1);
    }
    > p {
      @include margin-bottom(1);
    }
    strong {
      color: $black;
      font-size: $h2-size;
    }
    .inline_image_left {
      @extend .pull-left;
      padding-left: 0;
    }
    .inline_image {
      @extend .padded;
    }
    .factfile {
      background-color: $brown1;
      padding:20px;
      @include margin-bottom(1);
      p {
        @include margin-bottom(.25);
      }
    }
  }

  // General Form Layout
  .formbox {
    .securityfilter {
      display: none;
    }
    label.offset {
      display: none;
    }
  }

  .story-text {
    .commentsAlerts {
      display: none;
    }
  }

  #comments_form {
    background-color: $brown1;
    input {
      border: $border-brown2;
    }
    .mw-input-half {
      input {
        width: 100%;
      }
      &.mw-1 {
        padding-right: 10px;
      }
      &.mw-2 {
        padding-left: 10px;
      }
    }
    .LoggedIn {
      padding: 20px;
      padding-top: 0px;
    }
    .alert {
      font-size: $sm-size;
      font-style: italic;
    }
    .mw-post-as {
      font-size: $sm-size;
      input[type='radio'] {
        margin-right: 10px;
      }
    }
    textarea {
      width: 100%;
    }
  }

  #relatedItems {
    .sleeve {
      ul {
        li {
          @include margin-bottom(.5)
        }
      }
      h3 {
        a {
          color: $text-color;
          font-size: 1em !important;
          font-weight: normal !important;
        }
      }
      .date {
        color: $gray3;
      }
      .more {
        a {
          color: $yellow1;
          &:before {
            content: "»";
            padding-right: 5px;
          }
        }
      }
    }
    .signup {
      display: none;
    }
  }
  #rss_read {
    h2 {
      @extend .mw-h2-red-header;
      font-size: $h2-size !important;
    }
  }
}
