// VARIABLES
// -----------------------------

// Vertical Rhythm
// ---------------
// $base-font-size: 13px;
$base-line-height: 2px;
@include establish-baseline();

// Global values for color schemes and basic styles
// for Moovweb project

// Color Scheme
// ------------
// Greens
$green1:                  #00c109;
$green2:                  #78c158;
$green3:                  #057400;
$green4:                  #057a01;

// Blues
$blue1:                   #3500ED;
$blue2:                   #17338F;
$blue3:                   #3ca3e0;

// White
$white:                   #FFFFFF;

// Black
$black:                   #000000;

// Grays
$gray1:                   #EEEEEE;
$gray2:                   #F2F3F5;
$gray3:                   #76777A;
$gray4:                   #aaa;
$gray5:                   #595451;
$gray6:                   #CCC;
$gray7:                   #666;
$gray8:                   #991017;
$gray9:                   #2c2a25;
$gray10:                  #978685;
$gray11:                  rgb(54,54,54);

// Oranges
$orange1:                 #F69325;

// Red
$red1:                    #cb171f;
$red2:                    #C81B27;
$red3:                    #DC1921;

// Brown
$brown1:                  #F2EDE6;
$brown2:                  #DFD3C4;
$brown3:                  #E0D5C7;
$brown4:                  #C4BAAC;
$brown5:                  #FDF2E3;

// Yellow
$yellow1:                 rgb(248,148,0);

// Typography
// ----------
$font-family:             Georgia, "Helvetica Neue", Helvetica, Verdana;
$base-font-size:          13px;
$line-height:             24px;
$text-color:              $gray5;
$body-background-color:   $white;
$link-color:              $red1;

// Header Sizes
// ------------
$h1-size:                 $base-font-size + 16px;
$h2-size:                 $base-font-size + 5px;
$h3-size:                 $base-font-size + 3px;
$sm-size:                 12px;

// Borders
// -------
$border-green2:           1px solid $green2;
$border-green2-shaded:    1px solid shade($green2, 20%);
$border-gray3:            1px solid $gray3;
$border-gray8:            1px solid $gray8;
$border-brown2:           1px solid $brown2;
$border-brown4:           1px solid $brown4;
$border-brown5:           1px solid $brown5;
$border-red3:             4px solid $red3;
$border-yellow1:          4px solid $yellow1;
$border-black:            4px solid $black;

// Gradients
// ---------
$grad-green1:             linear-gradient($green1 0, $green4 100%);
$grad-green2:             linear-gradient(lighten($green2, 40%) 0, $green2 100%);
$grad-gray2:              linear-gradient(lighten($gray2, 40%) 0, $gray2 100%);

// Component Sizing
// ----------------
$padding:                 10px;
$margin:                  10px;
$border-radius:           5px;
$btn-width:               100px;
$spacing:                 10px;

// Text Shadows
// ------------
$text-shadow-green2:      2px 1px 1px $green2;
$text-shadow-gray3:       2px 1px 2px $gray3;
$text-shadow-black1:      2px 1px 2px $black;
$text-shadow-white:       0 1px $white;

// Box Shadows
// -----------
$box-shadow:              0 1px 3px rgba(0,0,0,0.9), 0 -1px 2px rgba(250,250,250,0.8);
$box-shadow2:             0 1px 0 rgba(255,255,255,.15), inset 0 1px 0 rgba(255,255,255,.05);
$box-shadow-inset:        inset 0 1px 0 rgba(255,255,255,0.75), inset 0 -1px 1px rgba(255,255,255,.3);



