// Flex Box
// -----------------------------

/*
  - flex-box: add this class to get flex box properties
  - flex-box-item: add to the number of items that are in the container
*/

.mw-flex-box {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  .mw-flex-box-item-1 {
    display: block;
    @include box-flex(1);
  }
  .mw-flex-box-item-2 {
    display: block;
    @include box-flex(2);
  }
  .mw-flex-box-item-3 {
    display: block;
    @include box-flex(3);
  }
  .mw-flex-box-item-4 {
    display: block;
    @include box-flex(4);
  }
  .mw-flex-box-item-5 {
    display: block;
    @include box-flex(5);
  }
}

// Box
// -----------------------------

// .mw-box {
//   @include box-shadow($box-shadow);
//   @include border-radius($border-radius);
//   margin: $spacing;
//   overflow: hidden;
//   background: #fff;

//   [class*='mw-bar'][class*='mw-accordion'] {
//     @include border-radius($border-radius);
//     &[data-ur-state="enabled"] {
//       @include border-radius($border-radius $border-radius 0 0);
//     }
//   }
// }

// Body Box
// Indent the container and add some background
.mw-box {
  padding: 20px;
  background-color: $brown1;
  > * {
    background-color: $white;
    padding: 20px 65px;
  }
}
