// BUTTONS
// -----------------------------

/*
  btn-base        - base button to build off of
  btn-mixer       - mixin for specific buttons to levarge
  btn-green1      - btn using green1 color
  btn-green2      - btn using green2 color
 */

// Global styles for all buttons
@mixin btn-base {
  display: block;
  cursor: pointer;
  width: auto;
  margin: $margin;
  padding: $padding;
  line-height: 1.4;
  font-size: $base-font-size;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  position: relative;
  @include border-radius($border-radius);
  @include transition(opacity, 0.2s, ease-out);
  a {
    display: block;
    color: $link-color;
    text-decoration: none !important;
  }
  &:hover, &:active {
    opacity: 0.9;
    @include transition(opacity, 0.2s, ease-in);
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
  }
  &.mw-sml {
    width: $btn-width;
  }
  &.mw-med {
    width: $btn-width*2;
  }
  &.mw-full {
    width: auto;
  }
}

// Create your buttons using this btn-mixer() function
// Parameters are all optional:
// $grad:           gradient
// $border:         border
// $color:          font color
// $text-shadow:    text-shadow
// $box-shadow:     box-shadow
@mixin btn-mixer($grad: false, $border: false, $color: false, $text-shadow: false, $box-shadow: false) {
  @include btn-base;
  @if $grad {
    @include background($grad);
  }
  @if $border {
    @include border-radius($border);
  }
  @if $color {
    color: $color;
  }
  @if $text-shadow {
    text-shadow: $text-shadow;
  }
  @if $box-shadow {
    @include box-shadow($box-shadow);
  }
}

@mixin chevron($fill_color, $border_color, $chevron-height, $chevron-width) {
  $inactive-background-color: $fill_color;
  $active-background-color: $border_color;
  $inactive-color: $active-background-color;
  $active-color: $inactive-background-color;

  border: 2px solid $active-background-color;
  height: $chevron-height;
  @include box-flex(1);
  -webkit-flex:1;
  position: relative!important;
  border-right:transparent;
  border-left:transparent;
  > * {
    display:block;
    margin-left:$chevron-width+5;
  }
  &:first-of-type {
    @include box-flex(.75);
    -webkit-flex:.75;
    > * {
      margin-left:5px;
    }
    border-left:$active-background-color 2px solid;
  }

  &:after, &:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index:100;
    border-width: -1 * (0 - $chevron-height/2);
    border-left-width: -1 * (1 - $chevron-width/1);
    top: 50%;
    margin-top: (0 - $chevron-height/2);
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: $inactive-background-color;
  }
  &:before {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: $active-background-color;
    left:100%;
    z-index: 90;
    border-width:2 + $chevron-height/2;
    border-left-width:1 + $chevron-width;
    margin-top:-1*(2 + $chevron-height/2);
  }
}


@mixin btn-chev($color: $white, $bgc: $black, $height: 32px, $width: 7px) {
  color: $color;
  background-color: $bgc;
  position: relative;
  text-align: center;
  @include chevron($bgc, none, $height, $width);
}

@mixin btn-green1 {
  @include btn-mixer($grad-green1, false, $white, false, $box-shadow-inset);
}
@mixin btn-green2 {
  @include btn-mixer(false, $border-green2-shaded, $white, $text-shadow-gray3, $box-shadow);
  background: $green2;
  position: relative;
  min-width: 120px;
  min-height: 20px;
  font-size: $h2-size;
  font-weight: normal;
}
.mw-btn-green1 {
  @include btn-green1;
}
.mw-btn-green2 {
  @include btn-green2;
}

.mw-btn-search {
  margin-top: -32px;
  padding: 0px 7px;
  @include btn-chev();
}
.mw-btn-red2 {
  padding: 0px 10px;
  margin-top: 10px;
  @include btn-chev($white, $red2);
}
.mw-btn-black {
  padding: 0px 10px;
  @include btn-chev();
}
