// Forms
// -----------------------------

/*
  - form: basic form styling
*/

.mw-form {
  label, .mw-label {
    font-weight: bold;
    margin-top: 5px;
    text-shadow: $text-shadow-white;
    display: block;
  }
  .mw-row {
    padding:0px 10px 5px 10px;
    overflow: hidden;
  }
}

input[type="text"], input[type="tel"], input[type="email"], .mw-input, textarea {
  display: block;
  border: none;
  color: $gray7;
  padding: 0px 5px;
  text-shadow: $text-shadow-white;
  // @include appearance(none);
  @include box-shadow($box-shadow-inset);
  @include border-radius(0);
  // @include background(linear-gradient(top, #eee 0%, #fff 100%));
  @include transition(all, 1s, ease-in);
  &::-webkit-input-placeholder {
     color: #999;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
}
