// HEADINGS
// -----------------------------

/*
  - heading-mixer: Base for creating header elements
  - h1: styles for h1 elements
  - h2: styles for h2 elements
*/

// Headings mixer
// @mixin grad-mixer(gradient, color, text-shadow);
@mixin heading-mixer ($size, $color, $font-weight, $text-shadow) {
  font-size: $size;
  color: $color;
  font-weight: $font-weight;
  text-shadow: $text-shadow;
}

@mixin h1 {
  @include heading-mixer($h1-size, $gray9, normal, none);
}

@mixin h2 {
  @include heading-mixer($h2-size, $black, normal, none);
}

.mw-h1 {
  @include h1;
}
.mw-story-title {
  @include heading-mixer($h1-size, $white, normal, none);
  text-transform: capitalize;
  display: block;
  text-align: center;
  clear: both;
}

.mw-h2 {
  @include h2;
}
@mixin mw-h2-header($border-top: $border-red3, $border-bottom: $border-brown2) {
  border-top: $border-top;
  border-bottom: $border-bottom;
  padding: 2px 0px;
}
.mw-h2-red-header {
  @include heading-mixer($h2-size, $red3, normal, none);
  @include mw-h2-header;
  @include margin-bottom(.25);
}
.mw-h2-red-comments {
  @extend .mw-h2-red-header;
  padding: 2px 20px;
}
.mw-h2-yellow-header {
  @include heading-mixer($h2-size, $yellow1, normal, none);
  @include mw-h2-header($border-yellow1);
  @include margin-bottom(.25);
}
.mw-h2-black-header {
  @include heading-mixer($h2-size, $black, normal, none);
  @include mw-h2-header($border-black);
  @include margin-bottom(.25);
}

.mw-date-title {
  @include heading-mixer($sm-size, $gray10, normal, none);
}
.mw-author-title {
  @include heading-mixer($sm-size, $red1, normal, none);
}

.mw-h3 {
  font-size: $h3-size;
  color: $white;
}
