#footer {
  #footer_sleeve {
    background-color: $gray11;
    padding: 20px;
  }
  .sleeve {
    color: $gray4;
    a {
      color: $white;
    }
  }
  .mw-list-none {
    list-style: none;
  }
  .mw-container {
    h3, p {
      @include margin-bottom(.5);
    }
    ul {
      list-style-type: disc;
      list-style-position: outside;
      padding-left: 40px;
    }
  }
  .button {
    display: inline-block;
  }
  iframe {
    @extend .center;
  }
  h3 {
    @extend .mw-h3;
  }
  .block {
    &.one, &.two {
      @include margin-bottom();
    }
  }
  .middle {
    background-color: $black;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    @include margin-bottom();
    li {
      &:before {
        content: "";
        display: inline-block;
        @extend .sprites-footer-mobile;
        float: left;
        margin-top: 10px;
      }
      > * {
        padding-left: 68px;
      }
      h3 {
        @include margin-bottom(.5);
      }
      p {
        font-size: $sm-size;
      }
    }
    li + li {
      &:before {
        content: "";
        display: inline-block;
        @extend .sprites-footer-advertise;
      }
    }
  }
  .bottom {
    .bottomnavheading {
      @extend .mw-h3;
    }
    font-size: $sm-size;
  }
}
