header.mw-header {

  background-color: $red2;
  padding: 10px;
  text-align: center;
  position: relative;

  .mw-logo {
    @extend .sprites-logo;
    height: 20px;
  }
  .mw-logo-container {
    padding-top: 6px;
  }

  .mw-menu {
    @extend .sprites-menu;
    display: inline-block;
    margin: 5px;
    height: 17px;
  }
  .mw-menu-container {
    padding: 3px;
    border: $border-gray8;
    box-shadow: $box-shadow2;
    height: 32px;
    width: 38px;
    @include border-radius(3px);
  }

  #mastsearch {
    margin-top: -25px;
    label {
      display: none;
    }
    #search {
      width: 185px;
      margin-right: 62px;
    }
  }

}
